<ion-header [translucent]="true">
    <ion-toolbar color="desafio">
        <ion-title style="color: #ffffff;">
            Bemol Digital
        </ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="sair()">
                <ion-icon name="exit-outline" style="color: #ffffff;"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <img src="assets/marca-bemol.svg" alt="">
        <!-- <strong>Ready to create an app?</strong> -->
        <p>
            Este é um pequeno sistema, desenvolvido como teste prático
            para a vaga de Engenheiro de Software para a Bemol Digital.
        </p>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar color="desafio">
        <ion-title style="color: #ffffff;">
            Desenvolvido por <strong>Linnik Maciel de Souza</strong>
        </ion-title>
    </ion-toolbar>
</ion-footer>